<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>검색 결과</title>
  <style>
    table {
      border-collapse: collapse;
      width: 100%;
    }
    th, td {
      border: 1px solid #dddddd;
      text-align: left;
      padding: 8px;
    }
    th {
      background-color: #f2f2f2;
    }
  </style>
</head>
<body>
<h1> 검색 결과</h1>
<p th:utext="'<strong>' + ${keyword} + '</strong>의 검색 결과는 다음과 같습니다.'"></p>
<table>
  <tr>
    <th>채용공고ID</th>
    <th>회사명</th>
    <th>국가</th>
    <th>지역</th>
    <th>채용포지션</th>
    <th>채용보상금</th>
    <th>사용기술</th>
    <th>비고</th>
  </tr>
  <tr th:each="jobPostingDTO : ${searchResults}">
    <td th:text="${jobPostingDTO.id}">ID</td>
    <td th:text="${jobPostingDTO.companyName}">CompanyName</td>
    <td th:text="${jobPostingDTO.companyCountry}">CompanyCountry</td>
    <td th:text="${jobPostingDTO.companyRegion}">CompanyRegion</td>
    <td th:text="${jobPostingDTO.getPosition}">JobPosition</td>
    <td th:text="${jobPostingDTO.getCompensation}">RecruitmentCompensation</td>
    <td th:text="${jobPostingDTO.getTechStack}">TechnologyUsed</td>
    <td><a th:href="@{/jobpostings/{id}(id=${jobPostingDTO.id})}">상세보기</a></td>
  </tr>
</table>
<div>
  <br><a th:href="@{/}">홈으로 돌아가기</a>
</div>
</body>
</html>